{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "semi": ["error", "never"],
    "react/require-default-props": "off",
    "import/no-cycle": "off"
  }
}
