{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "import/named": "error",
    "import/default": "error",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": ["error", { "ignorePureComponents": true }],
    "object-curly-newline": "off"
  },
  "settings": {
    "import/parser": "babel-eslint"
  }
}
