.controls {}

.controls__button {
  display: inline-block;
  min-width: 24px;
  padding: 0 5px;
  margin-right: 5px;
  background-color: #767676;
  color: #fff;
  font-weight: bold;
}

.controls__button[disabled] {
  background-color: #ccc;
}

.controls__button--toggle {
  @media (min-width: $react-timeline-auto-open-breakpoint) {
    display: none;
  }
}
