.controls {}

.controls__button {
  $size: 36px;
  display: inline-block;
  width: $size;
  height: $size;
  overflow: hidden;
  margin-right: 5px;
  background-color: $react-timeline-button-background-color;
  color: transparent;
  white-space: nowrap;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover,
  &:focus {
    background-color: $react-timeline-button-background-color-hover;
  }
}

.controls__button--toggle-open {
  background-image: url('#{$react-timeline-base64-data-prefix}PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHZpZXdCb3g9IjAgMCA1NiA1NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+TWVudTwvdGl0bGU+PGcgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iNDYiIGhlaWdodD0iOCIgcng9IjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUgNykiLz48cmVjdCB3aWR0aD0iNDYiIGhlaWdodD0iOCIgcng9IjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUgNDEpIi8+PHJlY3Qgd2lkdGg9IjQ2IiBoZWlnaHQ9IjgiIHJ4PSI0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1IDI0KSIvPjwvZz48L3N2Zz4=');
}

.controls__button--toggle-close {
  background-image: url('#{$react-timeline-base64-data-prefix}PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHZpZXdCb3g9IjAgMCA1NiA1NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Q3Jvc3M8L3RpdGxlPjxnIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHJlY3Qgd2lkdGg9IjU2IiBoZWlnaHQ9IjgiIHJ4PSI0IiB0cmFuc2Zvcm09InJvdGF0ZSgtNDUgNTYuMzM1IDE2LjI2MykiLz48cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iOCIgcng9IjQiIHRyYW5zZm9ybT0icm90YXRlKDQ1IC0uNzA3IDE1LjM2NCkiLz48L2c+PC9zdmc+');
}

.controls__button--zoom-in {
  background-image: url('#{$react-timeline-base64-data-prefix}PHN2ZyB3aWR0aD0iNTciIGhlaWdodD0iNTciIHZpZXdCb3g9IjAgMCA1NyA1NyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Wm9vbS1JbjwvdGl0bGU+PGcgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTMuNSAyMS41KSIvPjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSI4IiB0cmFuc2Zvcm09InJvdGF0ZSg5MCA4IDIxLjUpIi8+PGc+PHBhdGggZD0iTTI1LjQ0NiA0OS44NzVjLTEzLjQ5IDAtMjQuNDI4LTEwLjkzNy0yNC40MjgtMjQuNDMgMC0xMy40OSAxMC45MzctMjQuNDI3IDI0LjQyOC0yNC40MjcgMTMuNDkyIDAgMjQuNDMgMTAuOTM3IDI0LjQzIDI0LjQyOCAwIDEzLjQ5Mi0xMC45MzggMjQuNDMtMjQuNDMgMjQuNDN6bTAtOC4xNDNjOC45OTUgMCAxNi4yODYtNy4yOSAxNi4yODYtMTYuMjg2IDAtOC45OTQtNy4yOS0xNi4yODUtMTYuMjg2LTE2LjI4NS04Ljk5NCAwLTE2LjI4NSA3LjI5Mi0xNi4yODUgMTYuMjg2IDAgOC45OTUgNy4yOTIgMTYuMjg2IDE2LjI4NiAxNi4yODZ6IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iOCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgLTIyLjMxMiA2Ny43NjYpIi8+PC9nPjwvZz48L3N2Zz4=');
}

.controls__button--zoom-out {
  background-image: url('#{$react-timeline-base64-data-prefix}PHN2ZyB3aWR0aD0iNTciIGhlaWdodD0iNTciIHZpZXdCb3g9IjAgMCA1NyA1NyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Wm9vbS1PdXQ8L3RpdGxlPjxnIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzLjUgMjEuNSkiLz48cGF0aCBkPSJNMjUuNDQ2IDQ5Ljg3NWMtMTMuNDkgMC0yNC40MjgtMTAuOTM3LTI0LjQyOC0yNC40MyAwLTEzLjQ5IDEwLjkzNy0yNC40MjcgMjQuNDI4LTI0LjQyNyAxMy40OTIgMCAyNC40MyAxMC45MzcgMjQuNDMgMjQuNDI4IDAgMTMuNDkyLTEwLjkzOCAyNC40My0yNC40MyAyNC40M3ptMC04LjE0M2M4Ljk5NSAwIDE2LjI4Ni03LjI5IDE2LjI4Ni0xNi4yODYgMC04Ljk5NC03LjI5LTE2LjI4NS0xNi4yODYtMTYuMjg1LTguOTk0IDAtMTYuMjg1IDcuMjkyLTE2LjI4NSAxNi4yODYgMCA4Ljk5NSA3LjI5MiAxNi4yODYgMTYuMjg2IDE2LjI4NnoiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSI4IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSAtMjIuMzEyIDY3Ljc2NikiLz48L2c+PC9zdmc+');
}


.controls__button[disabled] {
  opacity: 0.5;
}

.controls__button--toggle {
  @media (min-width: $react-timeline-auto-open-breakpoint) {
    display: none;
  }
}
