.element {
  position: relative;
  height: $react-timeline-element-height;
  line-height: $react-timeline-element-height;
  background: $react-timeline-element-text-background-color;
  color: $react-timeline-element-text-color;
  text-align: center;
}

.element__title {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  text-overflow: ellipsis;
}

.element__tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  padding: 10px;
  line-height: 1.3;
  white-space: nowrap;
  text-align: left;
  background: $react-timeline-text-color;
  color: white;
  transform: translateX(-50%) scale(0);

  &::before {
    $size: 6px;
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: $size solid $react-timeline-text-color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    transform: translateX(-50%);
    content: ' ';
  }
}

.element:hover > .element__tooltip,
.element:focus > .element__tooltip {
  $delay: 0.3s;
  transform: translateX(-50%) scale(1);
  transition: transform 0s $delay;
}
