$height: $react-timeline-track-height - 2 * $react-timeline-element-spacing;

.element {
  height: $height;
  line-height: $height;
  padding: 0 10px;

  font-weight: bold;
  background: #06f;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
