.layout {
  position: relative;
}

.layout__side {
  display: inline-block;
  vertical-align: top;
  width: $sidebar-width;
}

.layout__main {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - #{$sidebar-width});
  overflow-x: scroll;
}
