.marker {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin-left: -($react-timeline-marker-line-width / 2);
  border-left: $react-timeline-marker-line-width dotted;
  opacity: 0;
}

.marker.is-visible {
  opacity: 1;
}

.marker.is-highlighted {
  background-color: blue;
  opacity: 1;
}

.marker--now {
  color: $react-timeline-marker-now-background-color;
  border-color: rgba(
    $react-timeline-marker-now-background-color,
    $react-timeline-marker-line-transparency
  );
}

.marker--pointer {
  color: $react-timeline-marker-pointer-background-color;
  border-color: rgba(
    $react-timeline-marker-pointer-background-color,
    $react-timeline-marker-line-transparency
  );
}

.marker__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: table;
  min-width: 70px;
  height: $react-timeline-marker-label-height;
  padding: 0 10px;
  line-height: 1.1;
  text-align: center;
  background: currentColor;
  transform: translateX(-50%);

  &::before {
    $size: 6px;

    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -$size;
    transform: translateX(-($react-timeline-marker-line-width / 2));
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid currentColor;
    content: ' ';
  }
}

.marker__content {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
}
