.sidebar {
  position: relative;
  z-index: 1;
  background-color: $react-timeline-sidebar-background-color;
  box-shadow: 10px 0 10px -5px rgba(12, 12, 12, 0.1);
}

.sidebar__header {
}

.sidebar__body {}
