.timeline {
  overflow-x: scroll;
}

.timeline__header {}

.timeline__body {
  position: relative;
}

.timeline__time {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 1px solid red;
}
