.rt-timeline {
  position: relative;
}

.rt-timeline__header {}

.rt-timeline__header-scroll {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rt-timeline__header.is-sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.rt-timeline__body {
  position: relative;
}
