.rt-timebar {}

.rt-timebar__row {
  position: relative;
  height: $react-timelines-header-row-height + $react-timelines-border-width;
  overflow: hidden;
  line-height: $react-timelines-header-row-height;
}

.rt-timebar__cell {
  position: absolute;
  text-align: center;
  background: #fff;
  box-shadow: 1px 0 0 0 $react-timelines-keyline-color inset;
  border-bottom: $react-timelines-border-width solid $react-timelines-keyline-color;
}

.rt-timebar__row:last-child .rt-timebar__cell {
  border-bottom-color: $react-timelines-header-separator-color;
}
