.timebar-key {
  height: $react-timeline-header-row-height;
  padding-left: $react-timeline-sidebar-key-indent-width;
  border-left: 1px solid $react-timeline-sidebar-separator-color;
  line-height: $react-timeline-header-row-height;
  font-weight: bold;
  box-shadow: 0 -1px 0 0 $react-timeline-sidebar-separator-color inset;
}
