.timebar {}

.timebar__row {
  position: relative;
  height: $react-timeline-header-row-height;
  overflow: hidden;
}

.timebar__cell {
  position: absolute;
  height: $react-timeline-header-row-height;
  border-left: 1px solid black;
}
