.track-key {
  // height: $react-timeline-track-height;
  // background: #999;
  // color: #fff;
}

.track-key__entry {
  position: relative;
  height: $react-timeline-track-height;
  line-height: $react-timeline-track-height;
  padding: 0 15px;
  font-weight: bold;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 -1px 0 0 #f6f6f6 inset; /* TODO: revisit */
}

.track-key__toggle {
  /* Button reset */
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;

  display: inline-block;
  background-color: #ccc;
  margin-right: 10px;
  color: #fff;
  min-width: 24px;
}
