* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0f0f0;
}

.app {
  font-family: sans-serif;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1000px) {
  .app {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.title {
  text-align: center;
  margin-bottom: 32px;
}
