$react-timeline-font-family: sans-serif !default;
$react-timeline-sidebar-width: 240px !default;
// $react-timeline-header-height: 80px !default;
$react-timeline-header-row-height: 30px !default;
$react-timeline-track-height: 60px !default;

.react-timeline {

  font-family: $react-timeline-font-family;
  // border: 1px solid #000;

  @import 'components/element';
  @import 'components/layout';
  @import 'components/sidebar';
  @import 'components/timebar';
  @import 'components/timebar-key';
  @import 'components/timeline';
  @import 'components/track';
  @import 'components/track-key';
}
