$react-timeline-auto-open-breakpoint: 1000px !default;
$react-timeline-font-family: sans-serif !default;
$react-timeline-border-width: 1px !default;

// Header
$react-timeline-header-row-height: 40px !default;

// Sidebar
$react-timeline-sidebar-width: 240px !default;
$react-timeline-sidebar-closed-offset: 40px;
$react-timeline-sidebar-background-color: #fff !default;
$react-timeline-sidebar-separator-color: #eee !default;
$react-timeline-sidebar-key-indent-width: 20px !default;

// Track / Elements
$react-timeline-track-height: 60px !default;
$react-timeline-element-spacing: 10px !default;

// Markers
$react-timeline-marker-label-height: 50px !default;
$react-timeline-marker-line-width: 2px !default;
$react-timeline-marker-now-background-color: #ff007f !default;
$react-timeline-marker-pointer-background-color: #646464 !default;
$react-timeline-marker-line-transparency: 0.5 !default;

// Controls
$react-timeline-button-background-color: #767676 !default;
$react-timeline-button-background-color-hover: #4c4c4c !default;

.react-timeline {
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: $react-timeline-font-family;

  @import 'components/controls';
  @import 'components/element';
  @import 'components/layout';
  @import 'components/marker';
  @import 'components/sidebar';
  @import 'components/timebar';
  @import 'components/timebar-key';
  @import 'components/timeline';
  @import 'components/track';
  @import 'components/tracks';
  @import 'components/track-key';
  @import 'components/track-keys';
}
